
@{
    ViewBag.Title = "Index";

}


@*///////////////////////////////

    <!-- Restore Employee area start -->

    ////////////////////////////////*@

<!-- Restore Employee table start -->

<div class="main-content-inner">
    <div class="card mt-4">
        <div class="card shadow-tbl">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h4 class="header-title">Employees</h4>
                    </div>
                    <div class="col-6">

                        <!-- Add employee button trigger modal -->
                        @*<button type="button" class="btn btn-success mb-3 p-2" style="float:right;font-size:15px" data-toggle="modal" id="add_employee_button"><i class="fa fa-plus"></i> Add</button>*@

                    </div>
                </div>

                <div class="card-body">
                    <form class="needs-validation" novalidate="" method="post">
                        <div class="form-row">

                            <div class="col-md-4 mb-3">

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Limit</span>
                                    </div>
                                    <select class="form-control" id="employee_limit_filter" name="employee_limit_filter">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Department</span>
                                    </div>
                                    <select class="form-control" id="employee_department_filter" name="employee_department_filter">
                                        <option value="-1">All..</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">City</span>
                                    </div>
                                    <select class="form-control" id="employee_city_filter" name="employee_city_filter">
                                        <option value="-1">All..</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <button class="btn btn-success" type="button" id="employee_filter_button">Filter</button>

                            </div>
                        </div>
                    </form>
                </div>


                <div class="single-table">
                    <div class="table-responsive">
                        <table class="table table-hover progress-table text-center mb-4" id="employee_table">
                            <thead class="text-uppercase">
                                <tr>
                                    <th scope="col">SL NO</th>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Gender</th>
                                    <th scope="col">Department</th>
                                    <th scope="col">City</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody id="employee_table_tbody"></tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-success" role="status" id="employee_loading_gif">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <!--Restore Employee Pagination Start-->
                    <div class="pagination_area pull-right mt-2">
                        <ul>
                            <li class="cursor-pointer"><a id="employee_previous_list_click"><i class="fa fa-chevron-left"></i></a></li>
                            <li class="cursor-pointer"><a class="ml-4 mr-4" id="employee_pagination_page_no">1</a></li>

                            <li><input class="ml-4 mr-4 form-control display-none " id="employee_pagination_page_no_input" style="width:50px" onkeypress="javascript:return isNumber(event)" /></li>
                            <li class="cursor-pointer"><a id="employee_next_list_click"><i class="fa fa-chevron-right cursor-pointer"></i></a></li>
                        </ul>
                    </div>
                    <!--Restore Employee Pagination End-->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Restore Employee table end -->
<!-- Restore employee modal start -->
<div class="modal fade bd-example-modal-sm" id="restore_employee_modal">
    <div class="modal-dialog modal-sm">
        <div class="additional-content modal-content">
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>

                <h5 class="alert-heading text-center mb-3 mt-3">Are you sure?</h5>

                <p class="mb-3 text-center">Do you really want to delete these records? This process cannot be undone.</p>
                <form id="restore_employee_modal_form" name="restore_employee_modal_form" method="post">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="restore_employee_employee_id_hidden" name="restore_employee_employee_id_hidden" onkeypress="javascript:return isNumber(event)">
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-rounded btn-secondary mb-3" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                        <button type="submit" class="btn btn-rounded btn-danger mb-3" id="restore_employee_button"><i class="fa fa-trash"></i> Recover</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- Restore emplyee modal end -->
@*///////////////////////////////

    <!-- Restore Employee area end -->

    ////////////////////////////////*@



@section scripts{

    <script>
        $("#employee_index").addClass("active");

    </script>

    <script src="~/Scripts/trashAndRecovery.js"></script>
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>

}